VITE_FIREBASE_API_KEY=AIzaSyCPu4Bi_0yakdZD54Gd3JItHxT98gz8dro
VITE_FIREBASE_AUTH_DOMAIN=db-app-practice-6fb66.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=db-app-practice-6fb66
VITE_FIREBASE_STORAGE_BUCKET=db-app-practice-6fb66.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=565911027298
VITE_FIREBASE_APP_ID=1:565911027298:web:cbfe1d4f2f8a5f2c4c1b3b
